<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>find us here</h3>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact us</h3>
            <a class="my-0 py-0 link" href="tel:0373669999">+84 977273980</a>
            <a href="mailto:nbm200298@gmail.com" class="my-0 py-0 link">nbm200298@gmail.com</a>
        </div>

        <div class="box">
            <h3>localization</h3>
            <p class="my-0 py-0">
                Yên Xá Commune <br />
                Thanh Trì District, Ha Noi City
            </p>
        </div>
    </div>
</section>