@model DKAC.App.Models.UserModel

<h1>Update Password</h1>
<hr />
<div class="">
    <div class="col-md-4 w-100 mt-5">
        <form asp-action="UpdatePassword">
            <input type="hidden" name="UserID" id="updatePasswordUserId" />
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label h2 mb-4">Old Password</label>
                <input type="password" asp-for="OldPassword" class="form-control h1" placeholder="Old Password" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label h2 mb-4">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control h1" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <input type="submit" value="Save" class="btn btn-primary " style="width: 10rem; height: 5rem" />
                &nbsp;
                <a asp-action="Index" asp-controller="UserMangager" class="btn btn-warning d-flex justify-content-center align-items-center text-center" style="width: 10rem; height: 5rem">Back</a>
            </div>
        </form>
    </div>
</div>